.idea/
Website/.idea/
Website/vietnamjobs_42/.idea/
Website/vietnamjobs_42/target/
App/aptech/android/.gradle/
Website/vietnamjobs_42/run-local.out.log
Website/vietnamjobs_42/run-local.err.log
~$*.xlsx
