$env:JAVA_HOME = "C:\Program Files\Java\jdk-21"
$env:SERVER_PORT = "8087"

$env:DB_URL = "jdbc:mysql://localhost:3306/vietnamjobs"
$env:DB_USERNAME = "root"
$env:DB_PASSWORD = "12345"

$env:MAIL_HOST = "smtp.gmail.com"
$env:MAIL_PORT = "587"
$env:MAIL_USERNAME = "your-email@gmail.com"
$env:MAIL_PASSWORD = "your-app-password"

$env:BASE_URL = "http://localhost:8087/"
$env:FILES_URL = "http://localhost:8087/files/"
